/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) { 
	.menu ul li a{
	text-align: right;
    padding: 0 !important;
}

	/*header end*/
	/*slider start*/
.inspore {
    margin-top: 0px;
}
.inspore h1{
	font-size: 26px;
}
.list-custom{
	text-align: center;
}
.inspore .list-inline li {
    font-size: 35px;
}
	/*slider end*/
		/*about start*/
.single_content {
    text-align: center;
}
.about {
    padding-top: 50px;
    padding-bottom: 50px;
}
.padding {
    padding-top: 10px;
    padding-bottom: 10px;
}
.common_title {
    padding-bottom: 30px;
}
.common_title h1 {
    font-size: 28px;
}
.common_title p {
    font-size: 16px;
    letter-spacing: 0px;
    word-spacing: 0px;
    text-align: justify;
}
.single_content p {
    font-size: 16px;
    word-spacing: 0px; 
    letter-spacing: 0px; 
}
	/*about end*/
	/*contact start*/
.btn-custom {
    width: 100%;
}
.social_media_icon {
    font-size: 30px;
}
.social_media_icon ul li i {
    padding: 0px 5px;
}
.social_media_icon {
    /* font-size: 42px; */
    padding: 5px 0;
}
.contact {
    padding-top: 50px;
    padding-bottom: 50px;
}
/*contact end*/
/*footer start*/
.text_center_only{
	text-align: center !important;
}
.address {
    padding: 10px 0;
    text-align: center;
}
/*footer end*/

}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) { 
	.menu ul li a{
	text-align: right;
    padding: 0 !important;
}

	/*header end*/
		/*slider start*/
.inspore {
    margin-top: 15px;
}
	/*slider end*/
	/*about start*/
.about {
    padding-top: 60px;
    padding-bottom: 60px;
}
.padding {
    padding-top: 15px;
    padding-bottom: 15px;
}
.single_content {
    text-align: center;
}
.common_title p {
    font-size: 20px;
    color: #313841;
    letter-spacing:  0px; 
    word-spacing: 0px; 
}
.common_title {
    padding-bottom: 40px;
}
/*about end*/
/*contact start*/

.less_title{
	padding-bottom: 10px;
}
.btn-custom {
	margin-top: 10px !important;
    width: 100%;
}
.contact {
    padding-top: 60px;
    padding-bottom: 60px;
}
.social_media_icon {
    padding: 8px 0;
}
/*contact end*/
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) { 
	/*header start*/
.menu ul li a{
	text-align: right;
    padding: 0 !important;
}
	/*header end*/
	/*slider start*/
.inspore {
    margin-top: 33px;
}
	/*slider end*/
	/*about start*/
.about {
    padding-top: 70px;
    padding-bottom: 70px;
}
.padding {
    padding-top: 20px;
    padding-bottom: 20px;
}
.common_title {
    padding-bottom: 50px;
}
	/*about end*/
	/*contact start*/

.btn-custom {
    width: 121px;
}
.less_title{
	padding-bottom: 10px;
}
.contact {
    padding-top: 70px;
    padding-bottom: 70px;
}
.social_media_icon {
    padding: 10px 0;
}
	/*contact end*/
}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) { 
	/*contact start*/
.btn-custom {
    font-weight: 700;
    font-size: 16px;
    width: 104px;
}
.social_media_icon ul li i {
    padding: 0 10px;
}
	/*contact end*/



}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { 


}